article {
	width: 85%;
	display: block;
	margin-left: 3%;
	text-indent: 50px;
	font-size: 18px;
	font-family:Lucida Calligraphy;
}

h2 {
	width: 85%;
	display: block;
	margin-left: 3%;
	
	font-size:28px;
	color:#4CAF50;
	font-family: Lucida Calligraphy;
	font-style: italic;
	font-weight: bold;
}

h5 {
	width: 85%;
	display: block;
	margin-left: 3%;
	font-size: 22px;
	font-family: Lucida Calligraphy;
	font-style: italic;
	
}

h4 {
	font-size: 23px;
	color: #111;
}

.exercise {
	font-weight: bold;
	color:#4CAF50;
}

ol {
	text-indent: 15px;
	padding-left:5%;
}


.button {
    background-color: grey;
    border: none;
    color: white;
	display:inline-block;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
	border-radius: 50%;
	transition-duration: 0.4s;
}
.button:hover {
	background-color: #4CAF50;
}